@font-face {
    font-family: 'smallfontsize';
    src: url('../fonts/16px.ttf') format('truetype');
}

@font-face {
    font-family: 'bigfontsize';
    src: url('../fonts/21px.ttf') format('truetype');
}

body {
    color:#acaa1d;
}

.title {
    border: none;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-family: 'bigfontsize', Arial, Helvetica, sans-serif;
    font-size: 50px;
    border-radius: 20px;
    width: auto;
}

.selector {
    border: none;
    color: #000000;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-family: 'bigfontsize', Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    width: auto;
}

.selector:hover {
    background-color: #7f4815ba;
    padding: 10px;
    border-radius: 20px;
}